.footer{
    background-color: #72c9a5;
    color: #fff;
    padding-block: 3em;
    display: grid;
    .footer-section{
        p{
            opacity: .9;
            text-align: center;
            font-family: Circular Std,ui-sans-serif,system-ui,-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Helvetica Neue,Arial,Noto Sans,sans-serif,Apple Color Emoji,Segoe UI Emoji,Segoe UI Symbol,Noto Color Emoji;
            line-height: 2em;
        }
        p.title{
            opacity: 1;
            font-size: 1.1em;
            font-weight: bold;
            margin-bottom: 1em;
        }
    }
}