.section.improve-skills{
    background-color: var(--background-color);
    margin: 0 -500%;
    padding: 0 500%;

    .col.img{
        img{
            margin-top: 2em; 
            margin-bottom: 2em;
            height: 20em;
            width: 90%;
            object-position: 80% 0; 
        }
    }
    .col.typography{
        padding-left: 1em;
        .skill-item{
            border-left: .2em solid var(--primary-color);
            margin-bottom: .5em;
            line-height: 2.5em; 
            padding: .1em 0 .1em .5em;
            color: var(--text-light);
            font-weight: bold;
            transform: translateX(100%);
            opacity: 0;
            animation: getAnimationDuration(.3s) slideInRight forwards;
            @for $i from 2 through 7 {
                &:nth-child(#{$i}){
                    animation-delay: #{$i * .1}s;
                }
            }
        }
        .btn{
            margin-top: .75em;
        }
    }
}